.video-background {
    position: relative;
    min-height: 100px;

    &__content-container {
        position: relative;
        z-index: 2;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }
}

