@use '../abstracts' as base;

.about-hero-decoration {
    position: absolute !important;
    bottom: -445px;
    left: 50%;
    transform: translateX(-30vw);

    @media screen and (max-height: 720px) {
        bottom: -527px;
    }
}

.wp-block-safe-svg-svg-icon.safe-svg-cover {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero-decoration {
    position: relative;
    z-index: 1;

    &--container{
        position: absolute;
        top: -50vh;
        @include base.atMedium {
            right: 0;
            transform: scale(1.5);
        }
    }

    & > .wp-block-group {
        position: relative;
    }

    svg {
        width: 58vw;
        height: 100vh;
        min-height: 650px;
        left: 0;
    }
}

.homepage-projects-decoration {
    width: 600px;
    @include base.atMedium {
        width: 35%;
        margin-left: 65% !important;
    }
}

.footer {

    .decorative-footer {
        margin: 0;
        padding: 0;
        position: absolute !important;
        top: -5px;
        right: 0;
        width: 600px;
        @include base.atMedium {
            transform: rotate(180deg);
            bottom: 0;
            left: -10rem;
        }
    }

    & > .footer-pigeon {
        position: absolute;
        bottom: -5rem;
        width: 525px;
        right: -11rem;
        @include base.atMedium {
            right: -10rem;
        }
    }

}

.about-decoration .wp-block-safe-svg-svg-icon.safe-svg-cover {
    position: relative;
    height: auto;
    width
    svg {
        height: auto;
    }

    .safe-svg-inside {
        height: auto !important;
        width: 102% !important;
        max-width: 102% !important;
        left: -1% !important;
        position: relative;
    }
}