@use '../abstracts' as base;

.footer {
    position: relative;
    overflow: hidden;

    & > .footer-pigeon {
        position: absolute;
        bottom: -5rem;
        width: 525px;
        right: -11rem;
        @include base.atMedium {
            right: -10rem;
        }
    }

    .bottom-footer {
        @include base.atMedium {
            margin-bottom: 32rem;
            margin-top: 2rem;
        }
    }
}

