@use '../abstracts' as base;

.hero {
    @include base.atMedium {
        min-height: max(100vh, 800px);
    }
    h1 {
        max-width: 725px;
    }
    .lottie-container {
        @include base.atMedium {
            margin: -3rem auto;
            max-width: 375px;
        }
    }
}

.homepage-hero {
    position: relative;
    z-index: 2;
}

.homepage-video {
    background-color: transparent !important;
}

.video-section,
.inner-hero  {
    position: relative;
    z-index: 2;
}