@use "./components/page-decorations";
@use "./components/forms";

a {
	text-decoration-thickness: 1px !important;
	text-underline-offset: .1em;
}

.full-height-center {
  min-height: 100vh; 
  display: flex;
  align-items: center; 
  justify-content: center;
}

.full-height {
    min-height: 100vh; 
}

/*Adds arrow svg to buttons in the editor when show arrow button is toggled and 'has-arrow' class is present */
.block-editor-block-list__block .wp-block-button.has-arrow {
  display: flex;
  align-items: center;
  gap: 5px;

  .wp-block-button__link::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 0.4em;
    vertical-align: middle;
    background: url('../../assets/icons/arrow-right-up-white.svg') no-repeat center;
    background-size: contain;
  }

  .has-base-background-color.wp-block-button__link::after {
    background: url('../../assets/icons/arrow-right-up-black.svg') no-repeat center;
  }

  .wp-block-button__link:hover::after {
    background: url('../../assets/icons/arrow-right-black.svg') no-repeat center;
    width: 20px;
  }
}
