
a {
	text-decoration-thickness: 1px !important;
	text-underline-offset: .1em;
}

.full-height-center {
  min-height: 100vh; 
  display: flex;
  align-items: center; 
  justify-content: center;
}

/*fixing weird issue with borders on linked images in editor, can't find reason for it yet */
img {
  border: none !important;
}

.editor-styles-wrapper img,
.block-editor-block-list__block img {
    border: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    box-shadow: none !important; /* in case shadow is causing black line */
}